<aside class="search-filter" [ngClass]="{'show-filter':feed.showFilter}">
  <div class="d-flex justify-content-between mb-3">
    <label>Filters</label>
    <small class="text-muted">
      <i class="far fa-circle-notch"></i>
      Applying Filters
    </small>
  </div>
  <div class="mb-5">
    <label class="section-title d-block">Inclusive Dates</label>
      <div ngbDropdown autoClose="outside" class="date-selected">
        <div class="date-range-picker form-control" ngbDropdownToggle>
          {{standupservice.dateData.dateStart | date:'EEE, MMMM d' }}-{{standupservice.dateData.dateEnd | date:'EEE, MMMM d' }}
        </div>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" autoClose="false" style="padding-top: 0px; padding-bottom: 0px">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex">
              <div style="width: 160px">
                <ul class="list-group list-group-flush">
                  <button type="button" class="list-group-item list-group-item-action"
                  (click)="FilterByDays($event, 0)" [disabled]="search.fetching">
                  Today</button>
                  <button type="button" class="list-group-item list-group-item-action"
                  (click)="FilterByDays($event, 1)" [disabled]="search.fetching">
                  Yesterday</button>
                  <button type="button" class="list-group-item list-group-item-action"
                  (click)="FilterByDays($event,6)" [disabled]="search.fetching">
                  Last 7 Days</button>
                  <button type="button" class="list-group-item list-group-item-action"
                  (click)="FilterByDays($event,30)" [disabled]="search.fetching">
                  Last 30 Days</button>
                  <button type="button" class="list-group-item list-group-item-action"
                  (click)="FilterByMonth($event,0)" [disabled]="search.fetching">
                  This Month</button>
                  <button type="button" class="list-group-item list-group-item-action"
                  (click)="FilterByMonth($event,1)" [disabled]="search.fetching">
                  Last Month</button>
                  <button type="button" class="list-group-item list-group-item-action"
                  [disabled]="search.fetching">
                  Custom Range</button>
                </ul>
              </div> 
              <ngb-datepicker #dp (select)="onDateSelection($event)" 
              [displayMonths]="2"
              [startDate]="{year: standupservice.dateData.dateStart.getFullYear(), 
							  month: standupservice.dateData.dateStart.getMonth() + 1}"
              [dayTemplate]="t" 
              [navigation]="arrows"
              [footerTemplate]="footerTemplate"
              outsideDays="hidden">
              </ngb-datepicker>

              <ng-template #t let-date let-focused="focused">
              <span class="custom-day"
                  [class.focused]="focused"
                  [class.range]="isRange(date)"
                  [class.faded]="isHovered(date) || isInside(date)"
                  (mouseenter)="hoveredDate = date"
                  (mouseleave)="hoveredDate = null">
                {{ date.day }}
              </span>
              </ng-template>
              
            </div>
          </div>
          <ng-template #footerTemplate>
            <hr class="my-0">
            <button class="btn btn-secondary btn-sm m-2 float-right" (click)="ApplyDateFilter($event)" 
            [disabled]="!ApplyFilterChange">Apply</button>
          </ng-template>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-5">
    <button class="btn-light btn mr-4" (click)="clear($event)">Clear</button>
    <button class="btn-primary btn filter-toggle" (click)="close($event)">Close</button>
  </div>
</aside>